{% extends "base.html" %}
{% block content %}

    <div class="form">
        <h2>Login as admin</h2>
        <form method="POST">
            <span class="input-title">Email</span>
            <input class="entry" type="text" name="email">
          
            
            <span class="input-title">Password</span>
            <input class="entry" type="password" name="password">
            
            <br><br>
            <input type="submit" value="Login as admin" class="btn btn-info form-btn">
            <br><br>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

        </form>
        <p>Don't have an account, <a href="/admin_signup">create an admin</a> account</p>
    </div>

{% endblock %}