{% extends "base.html" %}
{% block content %}
    

    <div class="dashboard">
        <button onclick="showAddItemPage()" class="btn">Add Item</button>
        <button onclick="showEditPage()" class="btn">Edit Item</button>
        <button onclick="showListings()" class="btn">Item Listings</button>
        <button onclick="showOrders()" class="btn">Orders</button>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <br><br>
                {% for message in messages %}
                    <div class="alert alert-info" role="alert" id="flash-message">
                        {{ message }}
                        <button class="btn" onclick="hide_message()">x</button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <div id="add-item">
        <h3>Add Item</h3>
    
        <form method="POST" enctype="multipart/form-data" action="/add_item">
            <div class="input-group ig">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Item name</span>
                </div>
                <input type="text" name="name" style="width:658px;">
            </div>
    
            <div class="input-group ig">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Price $</span>
                </div>
                <input type="text" name="price" style="width:275px;" step="0.01">
    
                <div class="input-group-prepend" style="margin-left:52px;">
                        <span class="input-group-text" id="">Quantity</span>
                </div>
                <input type="number" name="quantity" style="width:275px;">
            </div>
    
            <div class="input-group ig">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Description</span>
                </div>
                <input type="text" name="description" style="width:654px;">
            </div>
    
            <div class="input-group ig">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Tags</span>
                </div>
                <input type="text" name="tags" style="width:702px;" 
                    placeholder="Enter multiple tags separated by comma">
            </div>
    
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Upload</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile02" name="image" />
                    <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                </div>    
            </div>
    
            <input type="submit" value="Add to stock" class="btn btn-primary add-item-btn">
        </form>
    </div>

    <div id="edit-item">
        <h3>Edit Item</h3>
    
        {% if products %}
            <div class='list-group cart-group'>
            {% if products|length > 0  %}
                {% for item in products %}
                    <div class="list-group-item list-group-item-action flex-column align-items-start" id="{{ item['id'] }}">
                        <img src="{{ url_for('static', filename="images/" + item['image_url']) }}" style="width:320px;height:250px;" />
                        <p>
                            Name: <input type="text" name="name" value="{{ item['name'] }}" id="name-{{ item['id'] }}"/>
                        </p>
                        <p>
                            Price: $<input type="price" step="0.01" name="price" value="{{ item['price'] }}" id="price-{{ item['id'] }}"/>
                        </p>
                        <p>
                            Quantity: <input type="number" name="quantity" value="{{ item['quantity'] }}" id="quantity-{{ item['id'] }}"/>
                        </p>
                        <p>
                            Description: <input type="text" name="description" value="{{ item['description'] }}" id="description-{{ item['id'] }}"/>
                        </p>
                        <p>
                            Tags: <input type="text" name="tags" value="{{ item['tags'] }}" id="tags-{{ item['id'] }}"/>
                        </p>
                        <p>
                            Upload image: <input type="file" name="image" id="file-{{ item['id'] }}"/>
                        </p>
                        <input type="hidden" name="image-name" value="{{ item['image_url'] }}" id="img-name-{{ item['id'] }}" />

                        <button name="button" onclick="saveItem('{{ item['id'] }}')" class="btn btn-primary">Save</button>
    
                        <form action="/delete_item" method="POST">
                            <input type="hidden" name="item_id" value="{{ item['id'] }}" />
                            <button class="btn btn-danger btn-sm" type=submit>
                                <span class="glyphicon glyphicon-trash"></span> Delete item
                            </button>
                        </form>
                    </div>
                {% endfor %}
            {% else %}
                <h4>There are no items in stock!</h4>
            {% endif %}
            </div>
        {% endif %}    
    </div>

    <div id="item-listing">
        <h3>Items In Stock</h3>
        <div id="product">
            {% if products %}
                <div class='list-group cart-group'>
                {% if products|length > 0  %}
                    {% for item in products %}
                        <a href="item/{{ item['id'] }}" class="list-group-item list-group-item-action flex-column align-items-start">
                            <img src="static/images/{{ item['image_url'] }}" style="width:320px;height:250px;" />
                            <div class="side-content">
                                <div class="d-inline-flex p-3">
                                <div class="p-2" style="width:700px;"><h4>{{ item['name'] }}</h4></div>
                                <div class="p-2"><h4>${{ item['price'] }}</h4></div>
                                </div>
                                <p class="card-text">{{ item['description'] }}</p>
                                <small>{{ item['tags'] }}</small>
                            </div>
                        </a>   
                    {% endfor %}
                {% else %}
                    <h4>There are no items in stock!</h4>
                {% endif %}
                </div>
            {% endif %}
        </div>
    </div>

    <div id="orders">
        <h3>Unfulfilled Orders</h3>
        {% if orders %}
            <div class='list-group cart-group'>
            {% if orders['unfulfilled_orders'] | length > 0 %}
                {% for order in orders['unfulfilled_orders'] %}
                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                        <div>
                            <p>Customer name: {{ order['order']['name'] }}</p>
                            <p>Customer email: {{ order['order']['email'] }}</p>
                            <p>Customer phone: {{ order['order']['phone'] }}</p>
                            <p>Order total: {{ order['order']['total_amount'] }}</p>
                            <p>Order date: {{ order['order']['date'] }}</p>

                            <p>
                                <input type="checkbox" id="fulfilled-{{ order['order']['order_id'] }}" value="True" 
                                    {% if order['order']['fulfilled'] == True %} checked {% endif %}> fulfilled
                            </p> 
                        </div>
                    
                        <div>
                            <h6>Shipping address</h6>
                            <p>{{ order['address']['street'] }} {{ order['address']['apt_no'] }}</p>
                            <p>{{ order['address']['city'] }}, {{ order['address']['state'] }} {{ order['address']['zip_code'] }}</p>
                            <p>{{ order['address']['country'] }}</p>
                        </div>

                        <button onclick="saveOrder(this)" id="{{ order['order']['order_id'] }}">
                            Save
                        </button>
                    </div>
                {% endfor %}    
            {% else %}
                <p>There are currently no orders to fulfill</p>
            {% endif %}
            </div>
        {% endif %}

        <h3>Fulfilled Orders</h3>
        {% if orders %}
            <div class='list-group cart-group'>
            {% if orders['fulfilled_orders'] | length > 0 %}
                {% for order in orders['fulfilled_orders'] %}
                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                        <div>
                            <p>Customer name: {{ order['order']['name'] }}</p>
                            <p>Customer email: {{ order['order']['email'] }}</p>
                            <p>Customer phone: {{ order['order']['phone'] }}</p>
                            <p>Order total: {{ order['order']['total_amount'] }}</p>
                            <p>Order date: {{ order['order']['date'] }}</p>

                            <p>
                                <input type="checkbox" name="dulfilled" value="True" 
                                    {% if order['order']['fulfilled'] == True %} checked {% endif %}> fulfilled
                            </p> 

                            <p>Fulfilled on: {{ order['order']['fulfillment_date'] }}</p>
                        </div>
                        
                        <div>
                            <h6>Shipping address</h6>
                            <p>{{ order['address']['street'] }} {{ order['address']['apt_no'] }}</p>
                            <p>{{ order['address']['city'] }}, {{ order['address']['state'] }} {{ order['address']['zip_code'] }}</p>
                            <p>{{ order['address']['country'] }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>There are currently no orders to fulfill</p>
            {% endif %}
            </div>
        {% endif %}
    </div>

    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
    
{% endblock %}