<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Store</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                
            {% if 'admin_logged_in' in session %}
                {% if session['admin_logged_in'] %}
                    {% if 'admin_first_name' in session %}
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>

                    <a href="/admin_dashboard" class="nav-item btn btn-info">Admin dashboard</a>

                    <div class="dropdown nav-item justify-content-end hello">    
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                            Hello, {{ session['admin_first_name'] }} (Admin)
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/admin_account">My account</a>
                            <a class="dropdown-item" href="/admin_signout">Sign out</a>
                        </div>
                    </div>
                    {% endif %}
                {% endif %}

            {% else %}
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
                <a href="/" class="nav-item btn btn-primary">Sign In</a>
                <a href="/admin_signup" class="nav-item btn btn-primary">Sign Up</a>
            {% endif %}
        </div>
    </nav>

    {% block content %}{% endblock %}

    <script src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script>
        // function to hide alerts
        function hide_message(){
            var x = document.getElementById("flash-message");

            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
</body>

</html>