{% extends "base.html" %}
{% block content %}

        <h1>Administrator Page</h1>
        <h2>Welcome back {{data['first_name']}}</h2>

        <div>
            <form method="POST" enctype="multipart/form-data">
                <p>Item name</p>
                <input type="text" name="name">
                <p>Price</p>
                <input type="number" name="price" step="0.01">
                <p>Quantity</p>
                <input type="number" name="quantity">
                <p>Description</p>
                <input type="text" name="description">
                <p>Tags (enter multiple tags separated by comma)</p>
                <input type="text" name="tags">
                <br><br>
                <input type="file" name="image">
                <br><br>
                <input type="submit" value="Add to stock">
                {% if data['msg'] %}
                    <br><br>
                    <h3>{{ data['msg'] }}</h3>
                    <br><br>
                {% endif %}
            </form>
        </div>

        <style>
            #loading {
                display: block;
                width: 300px;
                margin-top: 90px;
                margin-left: auto;
                margin-right: auto;
            }
    
            .cart-group {
                width: 80%;
                margin: 20px auto;
            }
    
            .cart-group img {
                float: left;
            }
            .side-content {
                float: left;
                padding-left: 10px;
                padding-top: 35px;
            }
            
            .side-content p {
                padding-left: 25px;
            }
    
            .side-content small {
                padding-left: 25px;
            }
        </style>
        <div>
            <div id="product">
                <img src="{{ url_for('static', filename='images/loading.gif') }}" id="loading">
            </div>
            <script type="text/javascript" src="{{ url_for('static', filename='js/load_products.js') }}"></script>
        </div>

        <p><a href="/admin_signout">Sign out</a></p>
    
{% endblock %}