<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <h2>Admin sign up</h2>
        <form method="POST">
            <p>First name</p>
            <input type="text" name="first_name">
            <p>Last name</p>
            <input type="text" name="last_name">
            <p>Email</p>
            <input type="text" name="email">
            <p>Password <small>(Must be 8 or more)</small></p>
            <input type="password" name="password">
            <br><br>
            <input type="submit" value="Sign up as Admin">
            <br><br>
            {% if error %}
                <h3>{{ error }}</h3>
            {% endif %}
        </form>
        <p>Have an account, <a href="/admin">login</a> instead</p>
    </body>
</html>