{% extends "base.html" %}
{% block content %}

    <div class="list-group cart-group">
        {% if data['msg'] %}
            <div class="alert alert-info" role="alert">
                {{ data['msg'] }}

                {% if 'logged_in' in session %}    
                    {% if not session['logged_in'] %}
                        , <a href="/sign_in">sign in</a>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}

        {% if data['cart'] %}
            <h2>Shopping Cart</h2>

            {% for item in data['cart']%}
            <a href="{{ url_for('show_item', id=item['item_id']) }}"
                class="list-group-item list-group-item-action flex-column align-items-start">
                <img src="{{ url_for('static', filename='images/' + item['image_url']) }}" style="height:200px;" />
                <div class="side-content">
                    <div class="d-flex justify-content-between">
                        <h4>{{ item['name'] }}</h4>
                        <h4>Quantity: {{ item['quantity'] }}</h4>
                        <h4>Price: ${{ item['quantity'] * item['price']}}</h4>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                        blandit.</p>
                    <small>Donec id elit non mi porta.</small>
                </div>
            </a>
            {% endfor %}

            <a href="/checkout" class="btn btn-primary checkout-btn">Checkout</a>

        {% endif %}
        
        <style>
            .cart-group {
                width: 80%;
                margin: 20px auto;
            }

            .cart-group h2 {
                text-align: center;
                padding: 15px;
            }

            .cart-group img {
                float: left;
            }

            .side-content {
                float: left;
                padding-left: 10px;
                padding-top: 35px;
            }

            .checkout-btn {
                margin: 10px 0 10px 90%;
                width: 10%;
            }
        </style>
        
    </div>


{% endblock %}