{% extends "base.html" %}
{% block content %}

    <style>
        #loading {
            display: block;
            width: 300px;
            margin-top: 90px;
            margin-left: auto;
            margin-right: auto;
        }

        .cart-group {
            width: 80%;
            margin: 20px auto;
        }

        .cart-group img {
            float: left;
        }
        .side-content {
            float: left;
            padding-left: 10px;
            padding-top: 35px;
        }
        
        .side-content p {
            padding-left: 25px;
        }

        .side-content small {
            padding-left: 25px;
        }
    </style>
    <div>
        <div id="product">
            <img src="{{ url_for('static', filename='images/loading.gif') }}" id="loading">
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/load_products.js') }}"></script>
    </div>

{% endblock %}