{% extends "base.html" %}
{% block content %}
    <script>
        function send(me){
            parent = me.parentNode;
            // id of item to edit
            item_id = parent.getAttribute("id");
            console.log("parent id: " + parent.getAttribute("id"));

            var i = 1;
            var child = parent.firstChild;

            let xhr = new XMLHttpRequest();
            let formData = new FormData();

            // add item id to form data
            formData.append("item_id", item_id)

            while(child.nextSibling != null) {
                i = i + 1;
                child = child.nextSibling;
                // every two consecutive child
                if(i % 2 === 0){
                    if(child.getAttribute("type") === "file"){
                        let image = child.files[0];
                        // add uploaded image to form data
                        formData.append("image", image);

                        console.log("file: " + image);
                    }else if(child.getAttribute("name") != "button"){
                        // get the name of the input field
                        let input_name = child.getAttribute("name")
                        // add value of the input field to form data 
                        // with name of input field as key
                        formData.append(input_name, child.value);

                        console.log(input_name + ": " + child.value);
                    }
                }
            }
 
            xhr.onreadystatechange = state => { console.log(xhr.status); } // err handling
            let apiURL = "http://localhost:5000/edit_item/";
            xhr.open("POST", apiURL);
            xhr.send(formData);
        }

        function hide_message() {
            var x = document.getElementById("message");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        } 
    </script>

    {% if 'msg' in session %}
        {% if session['msg'] %}
            <button id="message" onclick="hide_message()" class="alert alert-info" role="alert">
                {{ session['msg'] }}
            </button>
        {% endif %}
    {% endif %}

    {% if data %}
        <div class='list-group cart-group'>
        {% for item in data %}
            <div class="list-group-item list-group-item-action flex-column align-items-start" id="{{ item['id'] }}">
                <img src="{{ url_for('static', filename="images/" + item['image_url']) }}" style="width:320px;height:250px;" />
                <input type="file" name="image" />
                <input type="text" name="name" value="{{ item['name'] }}" />
                $<input type="price" step="0.01" name="price" value="{{ item['price'] }}" />
                <input type="number" name="quantity" value="{{ item['quantity'] }}" />
                <input type="text" name="description" value="{{ item['description'] }}" />
                <input type="text" name="tags" value="{{ item['tags'] }}" />
                
                <button name="button" onclick="send(this)">Save</button>

                <form action="/delete_item" method="POST">
                    <input type="hidden" name="item_id" value="{{ item['id'] }}" />
                    <button class="btn btn-default btn-sm" type=submit>
                        <span class="glyphicon glyphicon-trash"></span> Delete item
                    </button>
                </form>
                
            </div>
        {% endfor %}
        </div>
    {% endif %}

{% endblock %}