<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <h2>Sign up</h2>
        <form method="POST">
            <p>Username</p>
            <input type="text" name="username">
            <p>Email</p>
            <input type="text" name="email">
            <p>Password <small>(Must be 8 or more)</small></p>
            <input type="password" name="password">
            <br><br>
            <input type="submit" value="Login">
        </form>
        <p>Have an account, <a href="/login">login</a> instead</p>
    </body>
</html>