{% extends "base.html" %}
{% block content %}
    
    <div class="account-content">
        {% if 'logged_in' in session %}
            {% if session['logged_in'] %}
                
                <h2>Account</h2>

                <div class="bio-container">
                    <div class="name-email">
                        <h5>First name: </h5>
                        <h5>Last name: </h5>
                        <h5>Email: </h5>
                    </div>
    
                    <div class="name-value">
                        <h5>{{ data['first_name'] }}</h5>
                        <h5>{{ data['last_name'] }}</h5>
                        <h5>{{ session['email'] }}</h5>
                    </div>
                </div>
    
                <form action="/change_name" method="POST">
                    <h4>Edit name</h4>
     
                    <span class="input-title">First name</span>
                    <input class="entry" type="text" name="first_name">
                    
                    <span class="input-title">Last name</span>
                    <input class="entry" type="text" name="last_name">
                        
                    <input type="submit" value="Change name" class="btn btn-primary chg-name-btn">
                </form>

                <form action="/change_password" method="POST">
                    <h4>Change password</h4>
    
                    <input type="hidden" name="email" value="{{ session['email'] }}">
    
                    <span class="input-title">New password</span>
                    <input class="entry" type="password" name="password">
                        
                    <input type="submit" value="Change password" class="btn btn-primary chg-name-btn">
                </form>
    
                <a href="/delete_account" class="btn btn-danger delete-btn">Delete account</a>
            {% endif %}
        {% endif %}
    
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <br><br>
                {% for message in messages %}
                    <div class="alert alert-info" role="alert" id="flash-message">
                        {{ message }}
                        <button onclick="hide_message()">x</button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}        
                
    </div>

{% endblock %}