{% extends "base.html" %}
{% block content %}

    <div>
        {% if item %}
        <div class="content">
            <div class="card view-item">
                <div src="img-wrapper">
                    <img src="{{ media_bucket }}/{{ item[6] }}" alt="Item image">
                </div>
                <div class="side-content">
                    <h4 class="card-title">{{ item[1] }} ${{ item[5] }}</h4>
                    <p class="card-text">{{ item[4] }}</p>
                    <small>Tags: {{ item[3] }}</small>
    
                    <form method="POST">
                        <input name="item_id" value="{{ item[0] }}" type="hidden" />
                        <input name="price" value="{{ item[5] }}" type="hidden" />
                        <input name='quantity' value='1' type='number' size='10' step='1' />
                        <br>
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <br><br>
                                {% for message in messages %}
                                    <div class="alert alert-info" role="alert" id="flash-message">
                                        {{ message }}
                                        <button onclick="hide_message()">x</button>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}        
                        <button class="btn btn-primary add-btn"  type="submit">Add to cart</button>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

{% endblock %}