{% extends "base.html" %}
{% block content %}
 
    <div class="form">
        <h2>Create account</h2>
        <form method="POST">
            <div class="input-group ig">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">First name</span>
                </div>
                <input type="text" name="first_name" style="width:250px;">
            </div>

            <div class="input-group ig">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Last name</span>
                </div>
                <input type="text" name="last_name" style="width:252px;">
            </div>

            <div class="input-group ig">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Email</span>
                </div>
                <input type="text" name="email" style="width:286px;">
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Password</span>
                </div>
                <input type="password" name="password" style="width:258px;" 
                    placeholder="At least 6 characters. ">
            </div>
            <small>Passwords must be at least 6 characters.</small>

            <br>
            <input type="submit" value="Sign up" class="btn btn-primary form-btn">

            <br><br>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <br><br>
                    {% for message in messages %}
                        <div class="alert alert-danger" role="alert" id="message">
                            {{ message }}
                            <button onclick="hide_message()">x</button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}        
    
        </form>
        <p>Have an account, <a href="/login">login</a> instead</p>
    </div>

{% endblock %}