{% extends "base.html" %}
{% block content %}

    <div class="form">
        <h2>Login</h2>
        <form method="POST">
            <span class="input-title">Email</span>
            <input class="entry" type="text" name="email">
            
            <span class="input-title">Password</span>
            <input class="entry" type="password" name="password">
            
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <br><br>
                    {% for message in messages %}
                        <div class="alert alert-info" role="alert" id="flash-message">
                            {{ message }}
                            <button onclick="hide_message()">x</button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}        
    
            <br>
            <input type="submit" value="Login" class="btn btn-primary form-btn">
            <br><br>
        </form>
        <p>Don't have an account, <a href="/sign_up">sign up</a> instead</p>
    </div>

{% endblock %}