{% extends "base.html" %}
{% block content %}
 
    <div class="form">
        <h2>Create account</h2>
        <form method="POST">
            <span class="input-title">First name</span>
            <input class="entry" type="text" name="first_name">

            <span class="input-title">Last name</span>
            <input class="entry" type="text" name="last_name">

            <span class="input-title">Email</span>
            <input class="entry" type="text" name="email">

            <span class="input-title">Password</span>
            <small>Passwords must be at least 6 characters.</small>
            <input class="entry" type="password" name="password" placeholder="At least 6 characters. ">
            
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <br><br>
                    {% for message in messages %}
                        <div class="alert alert-danger" role="alert" id="message">
                            {{ message }}
                            <button onclick="hide_message()">x</button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}        
    
            <br>
            <input type="submit" value="Sign up" class="btn btn-primary form-btn">
            <br><br>
        </form>
        <p>Have an account, <a href="/sign_in">sign in</a> instead</p>
    </div>

{% endblock %}